<nav class="clearfix">
    <div class="idl-logo">
        <a href="//idrop.link">idrop.link</a>
    </div>
</nav>

<div class="drop-wrap">
    <div class="drop">
        {{#if is_image}}
            <img class="drop-img" alt="broken" src="{{path}}">
            {{else}}
            <a href="{{path}}" title="Download {{title}}">
                <button>Download</button>
            </a>
        {{/if}}
        <div class="drop-title">{{title}}</title>
    </div>
</div>
